body {
  background-color: rgb(147, 112, 219);
}

header {
  background-color: rgb(147, 112, 219);
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-style: oblique;
  color: antiquewhite;
}
