@model IEnumerable<myMovieWatchlistLibrary.Models.List>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyMovieWatchlist</h1>

    <h3><a asp-action="Create">Add a List</a></h3>
</div>
<h4>My Lists</h4>    
<div class="text-center">
    <table class="table table-hover table-bordered">
        <thead>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "List", new { listID = item.ID })
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
